*{
  font-family: "com64";
}
body{
  background-image: url("../images/duck.png");
  margin: 0;
  padding: 0;
}
/* NavBar */
.colorNav{
  background-image: url("../images/banner.jpg");
}
/* couleur menu burger */
.navbar-light .navbar-toggler{
  background-color: #7c41ff;
}
.navbar-light .navbar-nav .nav-link{ /* couleur des titres en ROSE */
  color: #FF017E;
  font-size: 1.5rem;
  padding-top: 1rem;
}
.navbar-light .navbar-nav .nav-link:hover{ /* couleur des titres Hover */
  color: #155cff;
  font-size: 1.5rem;
  padding-top: 1rem;
}

/* titre dusty */
.titleDusty{
  margin-top: 6rem;
  text-align: center;
}
/* sert à mettre en place nos cards */
.case{
  height: 25em;
  text-align: center;
  margin-right:13px;
  margin-top: 8rem;
  float: left;
  border-radius: 25px;
}
/* sert à mettre en place nos images dans les cards  */
.card-img-topCase{
  height: 50%;
  border-radius: 25px;
}
/* a revoir pour le placement  */
.cardDisplayCase{
  margin-left: 3%;
}
.page-footer{
  background-color: white;
  opacity: 0.8;
  margin-top: 5%;
}
@font-face{
  font-family: "com64";
  src: url("../fonts/com64.ttf");
}
